@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #212334;
  --secondary-color: #f1e9a8;
  --tertiary-color: #a6a9c3;
  --highlight-color: #ff5733;
  --highlight-secondary-color: #6a005e;
  --font-heading: "Oswald";
  --font-heading-color: #fec000;
  --font-heading-size: 2.5rem;
  --background-element-color: #38435d;
  --font-style-1: #DED89E;
  --font-style-2: #BFBEB9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--primary-color);
}

.content_container_wrapper {
  overflow: hidden;
  position: relative;
}

@media (min-width: 1200px) {
  .content_container {
    flex-direction: row;
    justify-content: space-between;
    width: 78rem;
    margin: 0 auto;
    align-items: flex-start;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    line-height: 4rem;
  }
}

/* Apply the animation to the class */
.logo_animation {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
  background-color: var(--primary-color);
  top: 0;
  animation: fadeOut 1s ease-in-out 4s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99999999999;
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
