.desktop {
  display: none;
}

.tablet {
  display: none;
}


@media (min-width: 768px) {
  .tablet {
    display: unset;
  }

  .desktop {
    display: none;
  }
  .phone {
    display: none;
  }
}

@media (min-width: 1200px) {
  .tablet {
    display: none;
  }

  .phone {
    display: none;
  }

  .desktop {
    display: unset;
  }
}
